[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = https://github.com/linux-sunxi/meta-sunxi
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/git/meta-arm
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = http://git.openembedded.org/meta-openembedded
[submodule "poxy"]
	branch = kirkstone
